<div class="card">
  <h5 class="card-header card-header-color">User Registration</h5>
  <div class="card-body">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col">
          <label for="">Title</label>
          <select
            class="form-control"
            formControlName="title"
            id=""
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['title'].touched &&
                  getFormControls['title'].invalid)
            }"
          >
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
          </select>
          <div
            *ngIf="
              submitted ||
              (getFormControls['title'].touched &&
                getFormControls['title'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['title'].errors['required']">
              Title is required!!
            </div>
          </div>
        </div>

        <div class="form-group col-5">
          <label for="">First Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['firstName'].touched &&
                  getFormControls['firstName'].invalid)
            }"
          />
          <div
            *ngIf="
              submitted ||
              (getFormControls['firstName'].touched &&
                getFormControls['firstName'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['firstName'].errors['required']">
              First Name is required!!
            </div>
            <div *ngIf="getFormControls['firstName'].errors['minlength']">
              First Name should be at least 3 characters long!!
            </div>
            <div *ngIf="getFormControls['firstName'].errors['maxlength']">
              First Name should not exceed 10 characters!!
            </div>
          </div>
        </div>

        <div class="form-group col-5">
          <label for="">Last Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['lastName'].touched &&
                  getFormControls['lastName'].invalid)
            }"
          />

          <div
            *ngIf="
              submitted ||
              (getFormControls['lastName'].touched &&
                getFormControls['lastName'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['lastName'].errors['required']">
              Last Name is required!!
            </div>
            <div *ngIf="getFormControls['lastName'].errors['minlength']">
              Last Name should be at least 3 characters long!!
            </div>
            <div *ngIf="getFormControls['lastName'].errors['maxlength']">
              Last Name should not exceed 10 characters!!
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col-5">
          <label for="">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            formControlName="dob"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['dob'].touched &&
                  getFormControls['dob'].errors)
            }"
          />
          <div
            *ngIf="
              submitted ||
              (getFormControls['dob'].touched && getFormControls['dob'].invalid)
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                getFormControls['dob'].touched &&
                getFormControls['dob'].errors['pattern']
              "
            >
              Invalid pattern
            </div>
            <div
              *ngIf="
                submitted ||
                (getFormControls['dob'].touched &&
                  getFormControls['dob'].errors['required'])
              "
            >
              Date of birth is required!!
            </div>
          </div>
        </div>
        <div class="form-group col-5">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['email'].touched &&
                  getFormControls['email'].errors)
            }"
          />
          <div
            *ngIf="
              submitted ||
              (getFormControls['email'].touched &&
                getFormControls['email'].errors)
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                submitted ||
                (getFormControls['email'].touched &&
                  getFormControls['email'].errors['required'])
              "
            >
              Email is required!!
            </div>
            <div
              *ngIf="
                getFormControls['email'].touched &&
                getFormControls['email'].errors['email']
              "
            >
              Please Enter Correct email!!
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col-5">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['password'].touched &&
                  getFormControls['password'].invalid)
            }"
          />
          <div
            *ngIf="
              submitted ||
              (getFormControls['password'].touched &&
                getFormControls['password'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['password'].errors['required']">
              Password is required
            </div>
            <div *ngIf="getFormControls['password'].errors['minlength']">
              Password minimum length must be 6.
            </div>
          </div>
        </div>
        <div class="form-group col-5">
          <label for="">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['confirmPassword'].touched &&
                  getFormControls['confirmPassword'].invalid)
            }"
          />
          <div
            *ngIf="
              submitted ||
              (getFormControls['confirmPassword'].touched &&
                getFormControls['confirmPassword'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['confirmPassword'].errors['required']">
              Confirm Password is required
            </div>
            <div *ngIf="getFormControls['confirmPassword'].errors['minlength']">
              Password minimum length must be 6.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="acceptTerms"
            id="acceptTerms"
            [ngClass]="{
              'is-invalid':
                submitted ||
                (getFormControls['acceptTerms'].touched &&
                  getFormControls['acceptTerms'].errors)
            }"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms and Conditions</label
          >
          <div
            *ngIf="
              submitted ||
              (getFormControls['acceptTerms'].touched &&
                getFormControls['acceptTerms'].invalid)
            "
            class="invalid-feedback"
          >
            <div *ngIf="getFormControls['acceptTerms'].errors['required']">
              Accept terms is required
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group text-center">
          <button class="btn btn-success me-1" type="submit">
            {{ submitButtonText }}
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h5 class="card-header card-header-list-color">User List</h5>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{ user.title }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.dob }}</td>
            <td>{{ user.email }}</td>
            <td>
              <i
                class="fa fa-edit"
                style="color: green"
                (click)="edit(user.id)"
              ></i>
              <i
                class="fa fa-trash-o"
                style="color: red"
                (click)="delete(user.id)"
              ></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
