<div class="card">
  <h5 class="card-header card-header-color">User Registration</h5>
  <div class="card-body">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col">
          <label for="">Title</label>
          <select class="form-control" formControlName="title" id="">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
          </select>
        </div>

        <div class="form-group col-5">
          <label for="">First Name</label>
          <input class="form-control" type="text" formControlName="firstName" />
        </div>

        <div class="form-group col-5">
          <label for="">Last Name</label>
          <input class="form-control" type="text" formControlName="lastName" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col-5">
          <label for="">Date of Birth</label>
          <input type="date" class="form-control" formControlName="dob" />
        </div>
        <div class="form-group col-5">
          <label for="">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col-5">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div class="form-group col-5">
          <label for="">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group col form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="acceptTerms"
            id="acceptTerms"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms and Conditions</label
          >
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group text-center">
          <button class="btn btn-success me-1" type="submit">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="card">
  <h5 class="card-header card-header-list-color" >User List</h5>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{user.title}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.email}}</td>
            <td>
              <i class="fa fa-edit" style="color: green;" (click)="edit(user.id)"></i>
              <i class="fa fa-trash-o" style="color: red;" (click)="delete(user.id)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
